@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .card-facebook,
  .card-instagram,
  .card-twitter,
  .card-youtube{
    @apply flex flex-col w-[256px] h-[216px] justify-end rounded-t-lg rounded-b-xl text-very-dark-blue-t dark:text-white-t hover:brightness-95 dark:hover:brightness-125 cursor-pointer;
  }
  .card-facebook{
    @apply bg-facebook;
  }
  .card-twitter{
    @apply bg-twitter;
  }
  .card-instagram{
    @apply bg-instagram;
  }
  .card-youtube{
    @apply bg-youtube;
  }
  .card-content{
    @apply w-full h-[212px] flex flex-col justify-evenly items-center bg-light-grayish-blue-card-bg dark:bg-dark-desaturated-blue-card-bg rounded-b-lg text-center;
  }
  .overview-card{
    @apply flex flex-col w-[256px] h-[125px] px-6 justify-evenly bg-light-grayish-blue-card-bg dark:bg-dark-desaturated-blue-card-bg rounded-md text-very-dark-blue-t dark:text-white-t hover:brightness-95 dark:hover:brightness-125 cursor-pointer;
  }
}

html, body {
  height: 100%;
}